.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first .country--brazil {
  order: 5;
}

.countries--second .country--croatia {
  order: -1;
}
.countries--second .country--brazil {
  order: 1;
}
.countries--second .country--uganda {
  order: 1;
}

.countries--third {
  flex-direction: row-reverse;
  justify-content: start;
}
